
@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');



* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box
}

.person-img img {
  max-width: 70px;
  max-height: 90px;
  border-radius: 50%;
}

.nav-bar {
    position: fixed;
    width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: #1a1613;
  flex-wrap: wrap;
  opacity: 0.85;
  
}

.nav-item ul {
  display: flex;
}

.nav-item ul li {
  padding: 30px;
  list-style: none;
  font-size: 30px;
  font-family: 'Amatic SC', cursive;
 font-weight: bold;
   
}
.nav-bar ul li a {
  text-decoration: none;
  color: #fff
}

/* Showcase section */
.showcase {
   background: url("../img/Hello-World.jpg") no-repeat center center/cover; */
  /* min-height: 550px; */
}
.showcase-content {
  display: flex;
  height: 100vh; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

.showcase-content >h1{
    font-size: 40px;
    padding: 15px;
    color: #fff;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}
.showcase-content >p{
    font-size: 30px;
    color: #fff;
    font-family: 'Amatic SC', cursive;
    
}

/* Project section */
#projects{
  background: #cccccc
}

.project-header{
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 40px;
  border-bottom: 2px solid black;
  
}
 .project-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} 

 .project-details .projects-img{
  width: 330px;
  height: 300px;
  /* margin-top:20px 20px 0px 20px; */
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
  /* transition:width 5s height 5s; */
  transition: width 1s, height 1s, transform 1s;
  transition-timing-function:ease-in-out;
  

}

.project-tile{
  width: 330px;
  text-align: center;
  padding: 20px 10px;
  background: #1a1613;
  margin: 0px 20px 20px 10px;
  color: #fff
  
}

.project-details .projects-img:hover{
  width: 333px;
  height: 303px;
}


/* Social section */
#social-link{
  background: hsl(26, 89%, 51%)
}
.social-title{
 
  text-align: center

}

.social-container{
  display: flex;
  justify-content: center;
 
}

.social-container a{
  padding: 30px;
}
.icon{
  padding: 10px;
  font-size: 30px
}