
@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');



* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: 'Amatic SC', cursive;
}

.person-img  {
  color: #cccccc;
  margin-left: 30px;
 
  
}

.nav-bar {
    position: fixed;
    width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: #1a1613;
  flex-wrap: wrap;
  opacity: 0.85;
  
}

.nav-item ul {
  display: flex;
 
}

.nav-item ul li {
  padding: 20px;
  list-style: none;
  font-size: 30px;
  font-family: 'Amatic SC', cursive;
 font-weight: bold;
 /* transition: all 1s ease-in-out */
   
}
.nav-bar ul li a {
  text-decoration: none;
  color: #fff
}

/* Showcase section */
.showcase {
   background: url("../img/Hello-World.jpg") no-repeat center center/cover; */
  /* min-height: 550px; */
}
.showcase-content {
  display: flex;
  height: 100vh; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

.showcase-content >h1{
    font-size: 40px;
    padding: 15px;
    color: #fff;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}
.showcase-content >p{
    font-size: 30px;
    color: #fff;
    font-family: 'Amatic SC', cursive;
    
}

/* Project section */
#projects{
  background: #cccccc;
  padding-bottom:30px
}

.project-header{
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid black;
  
}
 .project-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} 

 .project-details .projects-img{
  width: 315px;
  height: 300px;
  /* margin-top:20px 20px 0px 20px; */
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
  

}

/* .project-tile{
  width: 320px;
  text-align: center;
  padding: 20px 10px;
  background: #1a1613;
  margin: 0px 20px 20px 10px;
  color: #fff
  
} */

.bal{
  cursor: pointer;
  background: #84a16a;
  margin: 4px;
  /* transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease-in-out */
  transition: all 1s ease-in-out;
}
.bal:hover{
  /* background: red;
  border-radius: 4px; */
  background: #006400;
  transform: translate3d(5px,5px,5px)
 
}

.code {
  color: #cccccc;
  transition: color 0.3s ease-out;
}

.bal:hover .code {
  color: #ff7f50;
}


/* Social section */
#social-link{
  background: hsl(26, 52%, 68%);
  height: 500px;
}
.social-title{
  text-align: center;
  margin-top:80px;
  
}
.social-title > h1{
 font-size: 50px;
 padding: 10px;
 font-family: 'Amatic SC', cursive;
}
.social-title > p{
  font-size: 30px;
  padding: 10px;
  font-family: 'Amatic SC', cursive;
 }
.social-container{
  display: flex;
  justify-content: center;
 
}

.social-container a{
  padding: 30px;
  cursor: pointer;
  text-decoration: none;
}
span {
	margin-bottom: 34px;
	font-size: 26px;
	padding-left: 5px;
}
.social-container i{
  margin-top: 10px;
  font-size: 26px;
}
.icon{
  transition: all 1s ease-in;
}
.icon:hover{
  transform: translateY(5px)
}
/* Footer */
#footer-main{
  text-align: center;
  font-size: 30px;
  padding: 20px;
  background: #cccccc
}